  <section class="director-photo">
    <img src="assets\external\director-message.png" alt="BGSCET Faculty Group">
  </section>
  <div class="main-container">
    <!-- Header Section -->
  
    <header class="header">
      <h2 class="main-title">
        Message From The Program Director <br>
       <span class="underline-text">Updated For AY 2025–26</span>
      </h2>
    </header>


    <!-- Body Section -->
    <section class="message-section">
      <div class="message-content">
        <div class="quote-icon top">❝</div>
        <p>
          Dear Students and Parents,<br />
          Welcome to <strong>BGSCET MBA</strong>,where we believe that an MBA is not just a degree—it is a transformation.
          Our program, affiliated with Visvesvaraya Technological University(VTU), is built to equip students with the mindset,
          tools,and network to lead in today’s dynamic and data-driven economy.
        </p>
        <p>
          At BGSCET MBA, we focus equally on <strong>academic excellence</strong> and <strong>real-world readiness</strong>.
          Students spend around 60% of their time in classroom-based learning led by experienced faculty and domain experts.
          The remaining 40% is devoted to <strong>immersive experiences</strong>—industry internships, social impact volunteering,
          incubation projects, and intensive case-based discussions in our agile learning spaces.
        </p>
        <p>
          For AY 2025-26, we are proud to offer:
        </p>  
          <ul>
            <li>Two in-demand MBA tracks: General Management and Digital Marketing</li>
            <li>An AI-enabled campus that nurtures innovation and decision-making</li>
            <li>The Performance Enrichment and Excellence Program (PEEP) for continuous skills upgrading</li>
            <li>A vibrant Incubation Centre to support entrepreneurial ideas and startup ambitions</li>
          </ul>
      
        <p>
          Our goal is simple: to make our students <strong>industry-ready and opportunity-ready</strong>. I warmly invite you to visit our campus,
          meet our community, and explore how the BGSCET MBA can accelerate your journey.
        </p>
         <div class="quote-icon bottom">❞</div>
      </div>

      <div class="director-section">
        <img src="assets\external\Faculty-1.png" alt="Naveen Kumar G" class="director-photo" />
        <div class="director-info">
          <h2>Naveen Kumar G</h2>
          <p>Director, BGS School of Management</p>
        </div>
      </div>
    </section>
  </div>
  <section class="cta-section">
    <h2>COME VISIT OUR CAMPUS</h2>
    <p>Are You Ready To Take The Next Step Toward Your Future Career?</p>
    <div class="cta-buttons">
      <button class="cta-btn pink">For Admission Click Here</button>
      <button class="cta-btn pink">Schedule A Tour</button>
    </div>
  </section>